fastapi
uvicorn
motor
pymongo
pydantic
pydantic-settings
python-dotenv
passlib
python-jose[cryptography]
httpx
pytest
pytest-asyncio
pydantic[email]
argon2-cffi
pyjwt
# https://d2ipaljcx1vm6z.cloudfront.net